.idea
target
*.iml
*.log
/pom.xml.versionsBackup
/.classpath
/.factorypath
/.project
/.vscode/launch.test.json
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.apt_generated
/.apt_generated_tests
/mongo/db/
/mongo/configdb/
